@use "./colors" as *;

body {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

main {
  background-color: $white;
  max-width: 32rem;
  padding: 1.6rem;
  border-radius: 2rem;
}

.qr-code,
img {
  border-radius: 1rem;
}

.qr-code {
  margin-bottom: 2.4rem;
}

.card-title,
.card-description {
  line-height: 1.25;
  text-align: center;
}

.card-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: $dark-blue;
  margin-bottom: 1.6rem;
}

.card-description {
  color: $light-blue;
  font-size: 1.5rem;
  margin-bottom: 2.4rem;
  padding: 0 1.6rem;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
